*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image-viewers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 80%;
  max-width: 1200px; 
}

.app{ 
  height: 100vh;

}
.image-viewer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: .5rem 0;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.thumbnail-list {
  display: flex;
  overflow-x: auto; 
  width: 100%;
  max-width: 1000px; 
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap; 
  margin: 0 auto;
  background-image: linear-gradient(to top, #acdaa7 0%, #0ed2cb 100%);
  .thumbnail {
    display: inline-block; 
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    // overflow: hidden;

    img {
      width: 100px;
      height: 80px;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
        border: 2px solid #007bff;
      }
    }
  }

  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
